@model CarProjectCQRS.Models.CarouselViewModel

<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <!-- First Carousel Item -->
            <div class="carousel-item active">
                <img src="/Cental-1.0.0/img/carousel-2.jpg" class="img-fluid w-100" alt="First slide" />
                <div class="carousel-caption">
                    <div class="container py-4">
                        <div class="row g-5">

                            <!-- Reservation Form -->
                            <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s">
                                <div class="bg-secondary rounded p-5">
                                    <h4 class="text-white mb-4">CONTINUE CAR RESERVATION</h4>
                                    <form>
                                        <div class="row g-3">

                                            <!-- Pick Up Province -->
                                            <div class="col-6">
                                                <select class="form-select" id="pickUpProvinceSelect" aria-label="Pick Up Province">
                                                    <option selected>Pick Up Province</option>
                                                    @foreach (var province in Model.Provinces)
                                                    {
                                                        <option value="@province.ProvinceId">@province.ProvinceName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Drop Off Province -->
                                            <div class="col-6">
                                                <select class="form-select" id="dropOffProvinceSelect" aria-label="Drop Off Province">
                                                    <option selected>Drop Off Province</option>
                                                    @foreach (var province in Model.Provinces)
                                                    {
                                                        <option value="@province.ProvinceId">@province.ProvinceName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Pick Up Dropdown -->
                                            <div class="col-6">
                                                <select class="form-select" id="pickUpDistrictSelect" aria-label="Pick Up">
                                                    <option selected>Select Pick Up Location</option>
                                                </select>
                                            </div>

                                            <!-- Drop Off Dropdown -->
                                            <div class="col-6">
                                                <select class="form-select" id="dropOffDistrictSelect" aria-label="Drop Off">
                                                    <option selected>Select Drop Off Location</option>
                                                </select>
                                            </div>

                                            <!-- Drop-off Link -->
                                            <div class="col-12">
                                                <a href="#" class="text-start text-white d-block mb-2">Need a different drop-off location?</a>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select" aria-label="Select Car Type">
                                                    <option selected>Select Your Car type</option>
                                                    @foreach (var car in Model.Cars)
                                                    {
                                                        <option value="@car.CarId">@car.Brand @car.Model</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Airport Dropdown -->
                                            <div class="col-12">
                                                <select class="form-select" aria-label="Select Airport">
                                                    <option selected>Select Airport</option>
                                                    @foreach (var airport in Model.Airports)
                                                    {
                                                        <option value="@airport.AirPortId">@airport.AirportName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Pick Up Date -->
                                            <div class="col-6">
                                                <label class="text-white">Pick Up Date</label>
                                                <input class="form-control" type="date" aria-label="Pick Up Date">
                                            </div>

                                            <!-- Drop Off Date -->
                                            <div class="col-6">
                                                <label class="text-white">Drop Off Date</label>
                                                <input class="form-control" type="date" aria-label="Drop Off Date">
                                            </div>

                                            <!-- Book Now Button -->
                                            <div class="col-12">
                                                <button class="btn btn-light w-100 py-2">Book Now</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Carousel Text -->
                            <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s">
                                <div class="text-start">
                                    <h1 class="display-5 text-white">Get 15% off your rental Plan your trip now</h1>
                                    <p>Treat yourself in USA</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Carousel Item -->
            <div class="carousel-item">
                <img src="/Cental-1.0.0/img/carousel-1.jpg" class="img-fluid w-100" alt="Second slide" />
                <div class="carousel-caption">
                    <div class="container py-4">
                        <div class="row g-5">

                            <!-- Reservation Form -->
                            <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s">
                                <div class="bg-secondary rounded p-5">
                                    <h4 class="text-white mb-4">CONTINUE CAR RESERVATION</h4>
                                    <form>
                                        <div class="row g-3">

                                            <!-- Pick Up Province -->
                                            <div class="col-6">
                                                <select class="form-select" id="pickUpProvinceSelect2" aria-label="Pick Up Province">
                                                    <option selected>Pick Up Province</option>
                                                    @foreach (var province in Model.Provinces)
                                                    {
                                                        <option value="@province.ProvinceId">@province.ProvinceName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Drop Off Province -->
                                            <div class="col-6">
                                                <select class="form-select" id="dropOffProvinceSelect2" aria-label="Drop Off Province">
                                                    <option selected>Drop Off Province</option>
                                                    @foreach (var province in Model.Provinces)
                                                    {
                                                        <option value="@province.ProvinceId">@province.ProvinceName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Pick Up Dropdown -->
                                            <div class="col-6">
                                                <select class="form-select" id="pickUpDistrictSelect2" aria-label="Pick Up">
                                                    <option selected>Select Pick Up Location</option>
                                                </select>
                                            </div>

                                            <!-- Drop Off Dropdown -->
                                            <div class="col-6">
                                                <select class="form-select" id="dropOffDistrictSelect2" aria-label="Drop Off">
                                                    <option selected>Select Drop Off Location</option>
                                                </select>
                                            </div>

                                            <!-- Drop-off Link -->
                                            <div class="col-12">
                                                <a href="#" class="text-start text-white d-block mb-2">Need a different drop-off location?</a>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select" aria-label="Select Car Type">
                                                    <option selected>Select Your Car type</option>
                                                    @foreach (var car in Model.Cars)
                                                    {
                                                        <option value="@car.CarId">@car.Brand @car.Model</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Airport Dropdown -->
                                            <div class="col-12">
                                                <select class="form-select" aria-label="Select Airport">
                                                    <option selected>Select Airport</option>
                                                    @foreach (var airport in Model.Airports)
                                                    {
                                                        <option value="@airport.AirPortId">@airport.AirportName</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Pick Up Date -->
                                            <div class="col-6">
                                                <label class="text-white">Pick Up Date</label>
                                                <input class="form-control" type="date" aria-label="Pick Up Date">
                                            </div>

                                            <!-- Drop Off Date -->
                                            <div class="col-6">
                                                <label class="text-white">Drop Off Date</label>
                                                <input class="form-control" type="date" aria-label="Drop Off Date">
                                            </div>

                                            <!-- Book Now Button -->
                                            <div class="col-12">
                                                <button class="btn btn-light w-100 py-2">Book Now</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Carousel Text -->
                            <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s">
                                <div class="text-start">
                                    <h1 class="display-5 text-white">Get 15% off your rental Plan your trip now</h1>
                                    <p>Treat yourself in USA</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    // İl değiştiğinde ilçeleri yükle
    $('#pickUpProvinceSelect, #pickUpProvinceSelect2').change(function() {
        var provinceId = $(this).val();
        var isFirstCarousel = $(this).attr('id') === 'pickUpProvinceSelect';
        
        if (provinceId) {
            loadDistricts(provinceId, isFirstCarousel, true);
        }
    });
    
    $('#dropOffProvinceSelect, #dropOffProvinceSelect2').change(function() {
        var provinceId = $(this).val();
        var isFirstCarousel = $(this).attr('id') === 'dropOffProvinceSelect';
        
        if (provinceId) {
            loadDistricts(provinceId, isFirstCarousel, false);
        }
    });
    
    function loadDistricts(provinceId, isFirstCarousel, isPickUp) {
        console.log('Loading districts for province:', provinceId, 'isFirstCarousel:', isFirstCarousel, 'isPickUp:', isPickUp);
        
        $.ajax({
            url: '/Ajax/GetDistrictsByProvince',
            type: 'GET',
            data: { provinceId: provinceId },
            success: function(districts) {
                console.log('Districts received:', districts);
                
                var targetSelect = '';
                if (isFirstCarousel) {
                    targetSelect = isPickUp ? '#pickUpDistrictSelect' : '#dropOffDistrictSelect';
                } else {
                    targetSelect = isPickUp ? '#pickUpDistrictSelect2' : '#dropOffDistrictSelect2';
                }
                
                // İlçe dropdown'ını temizle
                $(targetSelect).empty().append('<option selected>Select Location</option>');
                
                // İlçeleri ekle
                districts.forEach(function(district) {
                    var option = '<option value="' + district.DistrictId + '">' + district.DistrictName + '</option>';
                    $(targetSelect).append(option);
                });
            },
            error: function(xhr, status, error) {
                console.log('Error loading districts:', error);
                console.log('Response:', xhr.responseText);
            }
        });
    }
});
</script>
